body {
    background-color: lightblue;
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 20px;
}

table {
   border-collapse: collapse;
}

td {
   width: 50px;
   height: 50px;
}

.red {
   background-color: red;
   color: black;
}

.blue {
   background-color: blue;
   color: black;
}

.white {
   background-color: white;
   color: black;
}

.green {
   background-color: lime;
   color: black;
}

.yellow {
   background-color: yellow;
   color: black;
}

.orange {
   background-color: orange;
   color: black;
}

button {
   color: white;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   border: 3px solid black;
   border-radius: 4px;
 }

.red_button {
   background-color: red;
   color: white;
}

.blue_button {
   background-color: blue;
   color: white;
}

.white_button {
   background-color: white;
   color: white;
}

.green_button {
   background-color: lime;
   color: white;
}

.yellow_button {
   background-color: yellow;
   color: white;
}

.orange_button {
   background-color: orange;
   color: white;
}
